body {
  font-family: 'Open Sans', sans-serif;
  padding: 20%;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

#subtitle {
  font-weight: bolder;
  color: gray;
}


