@media screen and (max-width: 700px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}

.button {
  font-size: 15px;
  transition-duration: 0.4s;
  border: 2px solid gray;
  padding: 10px 24px;
}

.button:hover {
  background-color: black;
  color: white;
}

#theme {
  /* border-radius: 5px; */
  /* color: black; */
}

.header {
  margin: 0 auto;
  text-align: center;
}

.header h1{
  display: inline-block;
  padding: 25px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none
  color: white
}

body {
  font-family: "Open Sans", sans-serif;
  /* margin-left: 10%;
  margin-right: 10%; */
  max-width: 850px;
  margin: 0 auto;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

#me {
  color: #2685A2;
}

.column-list {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0 1em;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}

#job1 {
  color: #0000000;
}

#job2 {
  color: #333333;
}

#job3 {
  color: #666666;
}
