body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

#subtitle {
  font-weight: bolder;
  color: gray;
}


