@media screen and (max-width: 400px) {
  body {
    margin: 10px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  /* margin-left: 10%;
  margin-right: 10%; */
  max-width: 850px;
  margin: 0 auto;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

#subtitle {
  font-weight: bolder;
  color: gray;
}

.column-list {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0 1em;
}

.column:first-child {
  padding-left: 0;
}

.column:last-child {
  padding-right: 0;
}
